@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;0,400;1,300..800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Funnel Sans", sans-serif;
}

.contact_bg{
    background-image:url('https://img.freepik.com/premium-photo/blue-vintage-dial-telephone-handset_180224-121.jpg?semt=ais_hybrid') ;
    background-size: cover;
    background-position: center;

}
